.one {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 1.5%;
	top: 43.8%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.two {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 27%;
	top: 43.8%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}


.three {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 50%;
	top: 43.8%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.four {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 75%;
	top: 43.8%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.five {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 16%;
	top: 83.2%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.six {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 48.5%;
	top: 80%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}
.seven {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 45px;
	width: 100px;
	left: 73%;
	top: 82%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.eight {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 73%;
	top: 81%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
	background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}
