.one {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 10.3%;
	top: 42.6%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.two {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 24.6%;
	top: 42.6%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}


.three {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 35.4%;
	top: 42.6%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.four {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 57.4%;
	top: 42.6%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.five {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 70.3%;
	top: 42.6%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.six {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 84.8%;
	top: 42.6%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}
.seven {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 37.5%;
	top:  78.4%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}

.eight {
	font-family: "宋体";
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000033;
	background-position: center center;
	white-space: normal;
	border: 1px solid #3333CC;
	position: absolute;
	height: 25px;
	width: 100px;
	left: 83%;
	top: 78.4%;
	right: 400px;
	bottom: 400px;
	z-index: auto;
		background: url(../Images/b2.jpg);
	bordercolor:#ffffff;
}
