
/*seachform*/
.seachform{ height:42px;}
.seachform li{float:left; margin-right:15px;}
.seachform li label{padding-right:10px; float:left; line-height:32px;}
.scinput{width:150px; height:32px; line-height:32px; background:url(../Images/inputbg.gif) repeat-x; text-indent:10px;}
.scbtn{width:85px;height:35px; background:url(../images/btnbg.png) no-repeat center; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;border-radius:3px; behavior:url(js/pie.htc);}


/*seachform1*/
.seachform1,.seachform2{height:42px; width:720px;}
.seachform2{height:auto; overflow:hidden;}
.seachform1 li,.seachform2 li{float:left; margin-right:15px;}
.seachform2 li{margin-bottom:8px;}
.seachform1 li label,.seachform2 li label{padding-right:10px; float:left; line-height:32px; width:60px; text-align:center;}
.scinput1{width:150px; height:32px; line-height:32px; border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba;  text-indent:10px;}
.sarchbtn{margin-top:8px;}
.scbtn1{width:95px;height:35px; background:url(../Images/btnbg3.png) repeat-x center; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;border-radius:3px; ;}
.scbtn2{width:95px;height:35px; background:url(../Images/btnbg1.png) repeat-x center; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;border-radius:3px; );}




/*right.html*/
.place{height:40px; background:url(../Images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;color:#dc4e00;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../Images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}

/*tech*/
.tech{background:url(../Images/jszc.png) no-repeat 70px 50px; height:250px;}
.tech dl{padding-left:200px; padding-top:65px;}
.tech dl dt{display:block; width:135px; height:37px; color:#fff;font-size:24px; background:#EB5409; line-height:37px; text-align:center;border-radius:3px;behavior:url(js/pie.htc);margin-bottom:20px; }
.tech dl dd{font-size:14px; display:block; height:30px;}
.tech dl dd b{font-size:14px;}


/*noshow*/
.noshow{background:url(../Images/404.png) no-repeat 100px 50px; height:250px;}
.noshow dl{padding-left:340px; padding-top:200px;}
.noshow dl dt{display:block; width:400px; height:37px; color:#fff;font-size:24px; background:#EB5409; line-height:37px; text-align:center;border-radius:3px;behavior:url(js/pie.htc);margin-bottom:20px; }
.noshow dl dd{font-size:14px; display:block; height:30px;}
.noshow dl dd b{font-size:14px;}


.biao {
	font-family: "新宋体", Arial;
	line-height: 20px;
	font-weight: bold;
	color: #00658F;
	text-decoration: none;
	font-size: 12px;
}


.biaontext{
	font-family: "新宋体", Arial;
	font-weight: bold;
	color: #2F4F4F;
	text-decoration: none;  
	font-size: 18px;
}


.t5{
padding-left:5px;
}


.uew-select .uew-select-value{z-index:1;position:relative;padding-right:20px;background:#fff;font-size:12px; text-indent:5px;background:url(../Images/inputbg.gif) repeat-x;_background:none;_border:none;}