<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>javaweb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.lyq.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lyq.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.lyq.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ServletFilter</display-name>
    <filter-name>ServletFilter</filter-name>
    <filter-class>com.lyq.filter.ServletFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DataReflash</display-name>
    <servlet-name>DataReflash</servlet-name>
    <servlet-class>com.lyq.servlet.DataReflash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataReflash</servlet-name>
    <url-pattern>/DataReflash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryDataServlet</display-name>
    <servlet-name>HistoryDataServlet</servlet-name>
    <servlet-class>com.lyq.servlet.HistoryDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryDataServlet</servlet-name>
    <url-pattern>/HistoryDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumberServlet</display-name>
    <servlet-name>NumberServlet</servlet-name>
    <servlet-class>com.lyq.servlet.NumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberServlet</servlet-name>
    <url-pattern>/NumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoExcel</display-name>
    <servlet-name>DoExcel</servlet-name>
    <servlet-class>com.lyq.servlet.DoExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoExcel</servlet-name>
    <url-pattern>/DoExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoteControl</display-name>
    <servlet-name>RemoteControl</servlet-name>
    <servlet-class>com.lyq.servlet.RemoteControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteControl</servlet-name>
    <url-pattern>/RemoteControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DCDCRemoteControl</display-name>
    <servlet-name>DCDCRemoteControl</servlet-name>
    <servlet-class>com.lyq.servlet.DCDCRemoteControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DCDCRemoteControl</servlet-name>
    <url-pattern>/DCDCRemoteControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOrderFinish</display-name>
    <servlet-name>CheckOrderFinish</servlet-name>
    <servlet-class>com.lyq.servlet.CheckOrderFinish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOrderFinish</servlet-name>
    <url-pattern>/CheckOrderFinish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryPowerLineServlet</display-name>
    <servlet-name>HistoryPowerLineServlet</servlet-name>
    <servlet-class>com.lyq.servlet.HistoryPowerLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryPowerLineServlet</servlet-name>
    <url-pattern>/HistoryPowerLineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutomaticControServlet</display-name>
    <servlet-name>AutomaticControServlet</servlet-name>
    <servlet-class>com.lyq.servlet.AutomaticControServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutomaticControServlet</servlet-name>
    <url-pattern>/AutomaticControServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PLCServlet</display-name>
    <servlet-name>PLCServlet</servlet-name>
    <servlet-class>com.lyq.servlet.PLCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PLCServlet</servlet-name>
    <url-pattern>/PLCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvancedFunctionServlet</display-name>
    <servlet-name>AdvancedFunctionServlet</servlet-name>
    <servlet-class>com.lyq.servlet.AdvancedFunctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvancedFunctionServlet</servlet-name>
    <url-pattern>/AdvancedFunctionServlet</url-pattern>
  </servlet-mapping>
</web-app>